#app {
  font-family: "lato", sans-serif;
  }

  /* Override default style and set padding and margin to nothing */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

/* Blue text throughout */

body {
  color: rgb(37, 3, 231);
  text-align: center;
}

/* Make all link text black with no text decoration */
a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.2;
}


h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

p {
  font-size: 30px;
  margin: 10px 0;
}

/* All images must not be larger than parent container */
img {
  width: 100%;
}

/* No styling on list items */
li {
  list-style-type: none;
}

/* Centers it, sets a maximum width and makes sure elements can flow past it*/

.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: visible;
}

/* Sets background color, height and padding on either side*/

.navbar {
  background-color: rgb(116, 158, 236);
  height: 70px;
  padding: 0 60px;
}

/* Target h1 in navbar and set font size, reduces font-weight, adds margin and line height */

.navbar h1 {
  color: white;
  font-size: 30px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

.navbar .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

/* Changes the color of both links to white, adds padding between them and margin as well */

.navbar a {
  color: white;
  padding: 9px;
  margin: 0 10px;
}

/* Add a pseudo element on hover*/

.navbar a:hover {
  color: #0a0a0a;
  border-bottom: 3px solid #0a0a0a;
}

/* Adds margin below the text */
.showcase p {
  margin-bottom: 30px;
}

/* Adds a shadow below the image */
.showcase img {
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}

/* Adds some padding on the form content */
.showcase-form {
  padding-left: 7px;
}

.grid {
  overflow: visible;
  display: grid;
  grid-template-columns: 60% 40%;
}

.grid-item-1,
.grid-item-2 {
  position: relative;
  top: 5px;
  background-color: rgb(116, 158, 236);
  color: white
}